<!doctype html>
<html lang="en" color-mode="user">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login/Register</title>
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <section>
        <form>
          <header><h1>Login/Register</h1></header>
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            size="30"
            placeholder="name@example.com"
          />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            size="30"
            placeholder="password"
          />
          <button type="submit">Login/Register</button>
        </form>
      </section>
    </main>
  </body>
</html>
