<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TobyChat</title>
  <link href="/public/style.css" rel="stylesheet">
</head>

<body>
  <header>
    Hello, {{user.username}}
  </header>
</body>

</html>
