<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TobyChat</title>
  <link href="/public/style.css" rel="stylesheet">
</head>

<body>
  <nav>
    <ul>
      <li>Hello, {{username}}</li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
  <main>
    <h1>TobyChat</h1>
    <hr>
    <h2>Rooms:</h2>
    <ul id="rooms">
      {{#each rooms}}
      <li><a href="/room/{{this.id}}"><b>{{this.name}}</b></a></li>
      {{/each}}
    </ul>
  </main>
</body>

</html>
