<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{room.name}}</title>
  <link href="/public/style.css" rel="stylesheet">
</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <h1>
      <section>{{room.name}}</section>
    </h1>
  </nav>

  <aside class="right">
    <h3>Members:</h3>
    <ul>
      {{#each room.members}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</body>

</html>
